@import 'styles/mixins';

.page {
  padding: 10px 20px 30px 0;

  @include from-xs-to-md {
    padding-bottom: 10px;
  }
}

.surveyContainer {
  min-height: 450px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #BDDFCB;

  @include from-xs-to-md {
    min-height: auto;
  }
}

.surveyQuestionWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 40px 35px 80px;

  @include from-xs-to-md {
    padding: 0 15px 20px 15px;
  }
}