@import 'styles/mixins';

.questionContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;

  @include from-xs-to-md {
    flex: auto;
  }
}

.questionSectionRow {
  margin-bottom: 20px;

  @include from-xs-to-md {
    margin-bottom: 10px;
  }
}

.questionSectionName {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.questionTitleRow {
  margin-bottom: 30px;

  @include from-xs-to-md {
    margin-bottom: 15px;
  }
}

.questionTitleContainer {
  padding-right: 60px;

  @include from-xs-to-md {
    padding-right: 0;
    margin-bottom: 20px;
  }
}

.questionAnswersContainer {
  padding-top: 20px;

  @include from-xs-to-md {
    padding-top: 0;
  }
}

.questionMobileRow {
  @include from-xs-to-md {
    margin-bottom: 20px;
  }
}

.questionTitle {
  color: #373F41;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 0.533333px;
  text-transform: capitalize;
}

.question {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #373F41;
}