.ant-btn {
  font-style: normal;
  font-weight: 600;
  transition: none;
  letter-spacing: 0.75px;
  
  &.ant-btn-primary:not(.ant-btn-dangerous) {
    border-color: #249E6B;
    background-color: #249E6B;
  }
}