.ant-radio {
  top: 0;
}

.ant-radio-wrapper {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
  margin-right: 0;
}

.ant-radio-inner {
  width: 25px;
  height: 25px;
  background-color: transparent;
  border-color: #000000;
  border-width: 2px;

  &::after {
    width: 25px;
    height: 25px;
    transform: scale(1) translate(-50%, -50%);
    margin: 0;
    transition: none;
    background-color: #000000;
  }
}

.ant-radio-checked {
  &::after {
    border-color: #000000;
    transition: none;
    animation: none;
  }

  .ant-radio-inner {
    &::after {
      width: 25px;
      height: 25px;
      transform: scale(1) translate(-50%, -50%);
      margin: 0;
      transition: none;
    }
  }
}